<div class="relative overflow-x-auto shadow-md m-16">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3">
        Reservation Id
      </th>
      <th scope="col" class="px-6 py-3">
        Customer Id
      </th>
      <th scope="col" class="px-6 py-3">
        Room Id
      </th>
      <th scope="col" class="px-6 py-3">
        number of people
      </th>
      <th scope="col" class="px-6 py-3">
        checkin date
      </th>
      <th scope="col" class="px-6 py-3">
        checkout date
      </th>
      <th scope="col" class="px-6 py-3">
        Edit
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b hover:bg-gray-50" *ngFor="let r of reservations">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
        {{r.id}}
      </th>
      <td class="px-6 py-4">
        {{r.customerId}}
        <button (click)="getCustomer(r.customerId)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded-full text-xs">
          info
        </button>
      </td>
      <td class="px-6 py-4">
        {{r.bookableId}}
        <button (click)="getBookable(r.bookableId)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded-full text-xs">
          info
        </button>
      </td>
      <td class="px-6 py-4">
        {{r.numberOfPeople}}
      </td>
      <td class="px-6 py-4">
        {{r.checkIn | date: 'yyyy/MM/dd'}}
      </td>
      <td class="px-6 py-4">
        {{r.checkOut | date: 'yyyy/MM/dd'}}
      </td>
      <td class="px-6 py-4 text-blue-400 hover:underline">
        <button (click)="startEditing(r.id)">edit</button>
      </td>
      <td>
        <app-edit [id]="r.id" [isHidden]="r.id !== editingReservationId"></app-edit>
      </td>
    </tr>
    </tbody>
  </table>
</div>


