<div class="flex flex-col items-center space-y-4 p-4">
  <div class="flex justify-center space-x-6">
    <button (click)="newPerson()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-24 text-center">
      New Person
    </button>
    <button (click)="searchPerson()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-24 text-center">
      Search Person
    </button>
    <button (click)="newBooking()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full w-24 text-center">
      New Booking
    </button>
    <button (click)="searchRoom()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-24 text-center">
      Search Room
    </button>
    <button (click)="newRoom()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-24 text-center">
      New Room
    </button>
  </div>
</div>
